---
---

// Default mixins and settings -----------------
@import "template/mixins";
@import "template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see template/settings.scss)
$backgroundColor: darken(#fff, 2%);
$customColor: hsl(222, 67%, 50%);

$mainColor: #444;
$headingColor: #222;

$mainFontSize: 32px;
$mainFont: 'Open Sans', Helvetica, sans-serif;
$headingFont: 'Open Sans', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: normal;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 1.6em;
$heading2Size: 1.2em;

section.dark-background,
section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

.h1 {
    @extend h1;
}
.h2 {
    @extend h2;
}
.b {
    @extend b;
}

.accent-color {
    color: $customColor;
}

.fade-white {
    color: hsla(0, 100%, 100%, 0.7);
}
.fade-dark {
    color: hsla(0, 0%, 0%, 0.5);
}


@import 'template/theme';
@import 'utils/grid';
@import 'slides';

* {
    box-sizing: border-box;
}

input {
    font-size: 1em;
}

.h1.mod-code {
    font-family: 'Cousine', 'Courier', 'sans-serif';
    font-size: $heading3Size;
}
.reveal .sub-head {
    font-size: 0.9em;
    color: hsla(0, 0%, 0%, 0.6);
    margin-bottom: 0.1em;
}

.reveal .u-margin-none {
    margin: 0;
}

.reveal .u-margin-top {
    margin-top: 2em;
}

.reveal .u-margin-bottom {
    margin-bottom: 2em;
}

.reveal .u-italic {
    font-style: italic;
}

.reveal blockquote {
    width: 100%;
    margin: 1.5em 0;
    padding: 0.6em;
    padding-left: 1em;
    background: transparent;
    border: none;
    border-left: 2px solid hsla(0, 0%, 0%, .4);
    box-shadow: none;
}

.reveal ul {
    padding: 0 1em;
}

    .reveal li {
        line-height: 2em;
    }

    .reveal ul.mod-no-style,
    .reveal li.mod-no-style {
        list-style: none;
    }

.reveal .small {
    font-size: 0.6em;
}
.reveal p.small {
    margin: 0.2em 0;
}

.reveal .really-small {
    font-size: 0.4em;
}

.reveal .h100 {
    height: 100%;
}
.reveal .w100 {
    width: 100%;
}

.reveal pre {
    background: #3f3f3f;
    box-shadow: none;
    display: flex;
    align-items: center;
    margin: 0;
    position: initial;
    width: auto;
    line-height: 1.6em;
    border-radius: 0;
    padding: 0;
}

    .reveal pre.full {
        max-height: initial;
        max-width: initial;
        height: 100vh;
        width: 100%;
    }

.reveal code,
.reveal pre code {
    font-family: 'Cousine', 'Courier', 'sans-serif';
}
.reveal pre code {
    padding: 0 1em;
    background: transparent;
}

    .reveal pre code.full {
        padding-top: 0;
        padding-bottom: 0;
        max-height: initial;
        max-width: initial;
    }

.reveal .slide-number {
    background-color: transparent;
    color: lighten( $mainColor, 30% );
    font-size: .8em;
}
.reveal.has-dark-background .slide-number {
    color: hsla(0, 100%, 100%, 0.7);
}
    .reveal .slide-number-b {
        font-size: 0.7em;
    }

.reveal .slides section .fragment.current-visible {
    display: none;
}
.reveal .slides section .fragment.current-visible.current-fragment {
    display: block;
}

.reveal section img.no-border {
    box-shadow: none;
    border: none;
}
