'''
'''

// Default mixins and settings -----------------
@import "template/mixins";
@import "template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 38px;
$mainFont: 'Open Sans', Helvetica, sans-serif;
$headingFont: 'Open Sans', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: normal;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}


@import 'template/theme';
@import 'utils/grid';
@import 'utils/slides';

.h1.mod-code {
    font-family: 'Cousine', 'Courier', 'sans-serif';
    font-size: $heading3Size;
}

.reveal pre {
    background: #3f3f3f;
    box-shadow: none;
    display: flex;
    align-items: center;
    margin: 0;
    position: initial;
    width: auto;
}

    .reveal pre.full {
        max-height: initial;
        max-width: initial;
        height: 100%;
        width: 100%;
    }

.reveal pre code {
    padding: 1em;
    font-family: 'Cousine', 'Courier', 'sans-serif';
    background: transparent;
}

    .reveal pre code.full {
        padding-top: 0;
        padding-bottom: 0;
        max-height: initial;
        max-width: initial;
    }



.reveal .slide-number {
    background-color: transparent;
    color: lighten( $mainColor, 30% );
    font-size: .8em;
}
.reveal.has-dark-background .slide-number {
    color: darken(white, 30%);
}
