
.reveal .backgrounds,
.reveal .slides {
    align-items: stretch;
    display: flex;
    text-align: left;
}

    .slide {
        align-items: center;
        flex: 1 100%;
        min-width: 100%;
        height: 100%;
    }

    .reveal .slides .slide {
        display: flex !important;
        position: static;
    }

    .reveal .slides .slide.mod-full {
        align-items: stretch;
        padding: 0;
    }

    .reveal:not(.overview) .slides .slide.past,
    .reveal:not(.overview) .slides .slide.future {
        display: none !important;
    }
    .reveal.overview .slides .slide {
        left: -100%;
        position: relative;
    }
        .content {
            width: 100%;
        }
        .reveal .slides .slide .content {
            padding: 8vw 6vh;
        }


    .reveal.overview .backgrounds .past,
    .reveal.overview .backgrounds .future {
        /*display: none !important;*/
    }
