/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 38px;
$mainFont: 'Open Sans', Helvetica, sans-serif;
$headingFont: 'Open Sans', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: normal;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}


@import '../template/theme';
@import 'utils/grid';

.h1.mod-code {
    font-family: 'Cousine', 'Courier', 'sans-serif';
    font-size: $heading3Size;
}

.reveal .slides {
    text-align: left;
}

.reveal pre {
    position: initial;
    width: auto;
    margin: 0;
    box-shadow: none;
}

.reveal pre code {
    padding: 0.4em;
    font-family: 'Cousine', 'Courier', 'sans-serif';
}

.reveal .slide-number {
    background-color: transparent;
    color: lighten( $mainColor, 30% );
    font-size: .8em;
}
.reveal.has-dark-background .slide-number {
    color: darken(white, 30%);
}
